
/* 
=========================
Fonts
=========================

font-family: 'Outfit', sans-serif;

*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* 
========================
Variables
========================
*/


:root {
    
    font-size: 15px;
    
    /* Primary */
    --var-soft-blue: hsl(215, 51%, 70%);
    --var-cyan: hsl(178, 100%, 50%);
    /* Neutral */
    --var-main-darkest: hsl(217, 54%, 11%);
    --var-card-dark: hsl(216, 50%, 16%);
    --var-line-dark: hsl(215, 32%, 27%);
    --var-lightest: white;
    
    /* Fonts */
    
    --var-heading: normal normal 600 1.5em/1.6em 'Outfit', sans-serif;
    
    --var-small-heading: normal normal 400 1em/1em 'Outfit', sans-serif;
    
    --var-para: normal normal 300 1em/1.55em 'Outfit', sans-serif;
}

/* 
=======================
Setup
=======================
*/

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

img {
    width: 100%;
    border-radius: 15px;
    display: block;
}

/*
=========================
Font Styling
=========================
*/

h1 {
    font: var(--var-heading);
    color: #222;
    padding: 1.2em 0;
}

h2 {
    font: var(--var-small-heading);
    color: var(--var-lightest);
    /* padding on .coin-base */
}

p {
    font: var(--var-para);
    font-size: 1.01rem;
    color: var(--var-line-dark);
}

span {
    color: var(--var-line-dark);
}

.listing-detail{
    flex: 9;
    font-family: sans-serif;
}
.listing-detail-content{
    padding: 1.2rem 0 1.2rem 1.2rem;
}
.listing-detail-img{
    width: 100%;
    height: 22rem;
    object-fit: cover;
    border-radius: .3rem;
    margin-bottom: .3rem;
}
.listing-detail-title{
    text-align: center;
    margin: .9rem 0;
}
.listing-detail-action{
    float: right;
    cursor: pointer;
}
.listing-detail-action-icon{
    font-size: 1.8rem;
    margin-left: .5rem;
}
.listing-detail-action-icon:first-child{
    color: rgb(59, 128, 59);
}
.listing-detail-action-icon:nth-child(2){
    color: rgb(177, 26, 26);
}
.listing-detail-meta-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: rgb(124, 122, 122);
    margin-bottom: 1rem;
}
.listing-detail-description{
    line-height: 1.7rem;
    font-size: 1.01rem;
    color: rgb(71, 69, 69);
}
.listing-detail-description::first-letter{
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #00b386;
}
@media (max-width: 600px) {
    .listing-detail{
        width: 90%;
        box-sizing: border-box;
    }
    .listing-detail-description{
        line-height: 1rem;
        font-size: .8rem;
    }
    .listing-detail-action-icon{
        font-size: 1.2rem;
        margin-left: .3rem;
    }
    .listing-detail-title{
        text-align: start;
        font-size: 1.2rem;
    }
    .listing-detail-img{
        width: 100%;
    }
    .listing-detail-action{
        display: flex;
        /* flex-direction: column; */
    }
    .listing-detail-meta-info{
        font-size: .8rem;
    }
}