/* Change the amount it zooms on hover & the tint with the variables below. */

:root {
  --zoomAmount: 140%;
  --tint: rgba(13, 175, 113, 0.767);
  --accent: rgb(6, 150, 95)/*for text box borders*/;
}

/* -------------------------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Libre Bodoni", serif;
}

.header-section,
html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.header-section {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  width: 100%;
  min-height: 100vh;
  margin: 0;
  
  backface-visibility: hidden; /* Force GPU Usage */
}

.header-section > * {
  width: 100%;
  height: auto;
  max-width: 1900px;
}

.header-section > figure {
  position: absolute;
  margin: 0;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 750px;
  max-height: 750px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #999;
}

figure figcaption {
  margin: 0;
}

figure figcaption h1 {
  position: relative;
  font-size: 120pt;
  line-height: 120pt;
  color: white;
  text-shadow: 1px 1px 0px black, 2px 2px 0px black, 3px 3px 0px white;
  font-weight: 900;
  margin: 0;
  overflow: hidden;
  padding: 0 15px;
}
figure figcaption p {
  position: relative;
  font-size: 40pt;
  line-height: 60pt;
  color: white;
  text-shadow: 1px 1px 0px black, 2px 2px 0px black, 3px 3px 0px white;
  font-weight: 900;
  margin: 0;
  overflow: hidden;
  padding: 0 15px;
}

figure figcaption h1::after {
  position: absolute;
  bottom: 0;
  right: 100%;
  width: 100%;
  height: 20px;
  background: white;
  content: "";
  transition: all 1s ease;
}

.header-section > header:hover ~ figure figcaption h1::after {
  right: 0;
  transition: all 1s ease;
}

.header-section > header,
.header-section > header > div {
  background: url("https://cdn.pixabay.com/photo/2021/10/07/15/23/real-estate-6688945_1280.jpg");
  background-size: 100%;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
  transition: all 0.5s ease-in-out;
}

.header-section > header {
  background: var(--tint);
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 750px;
  max-height: 750px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  z-index: 1;
}

.header-section > header > div {
  width: 50px;
  height: 50px;
  mix-blend-mode: luminosity;
}

.header-section > header > div:hover,
.header-section > header > div:hover ~ div {
  background-size: var(--zoomAmount);
  transition: all 0.5s ease-in-out;
}


@media (max-width: 1250px) {
  .header-section > header,
  .header-section > figure {
    max-height: 500px;
    min-height: 500px;
  }
  figure figcaption h1 {
    font-size: 70pt;
    line-height: 78pt;
    text-align: center;
  }
  figure figcaption p {
    font-size: 30pt;
    line-height: 35pt;
    text-align: center;
  }
  .header-section > header,
  .header-section > header > div {
    background-position: center !important;
  }
  .header-section > header > div {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 400px) {
  figure figcaption h1 {
    font-size: 54pt;
    line-height: 62pt;
  }
  figure figcaption h1 {
    font-size: 24pt;
    line-height: 42pt;
  }
}
